<h1>Main#index</h1>
<p>Hello Word!</p>

<% x = 1 + 1 %>
<%= x %>

<% tasks = ["Fold laundry", "Sweep porch", "Wash dishes", "Mow lawn"] %>

<ul>
<% tasks.each do |task| %>
  <li><%= task %></li>
<% end %>
</ul>

